.form {
    width: 50%;
}

.form input {
    width: 100%;
}

.issueType {
    width: 200px;
}

.branchName {
    width: calc(100% - 5rem);
}

.branchName:read-only {
    width: calc(100% - 5rem);
    background-color: #f5f5f5;
}

.copy {
    margin-left: 1rem;
}