.title {
  font-weight: bold;
}

.from {
  width: 100%;
  margin-bottom: 0.5rem;
}

.to {
  width: 100%;
  margin-bottom: 0.5rem;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}