.menu {
  padding: 0.5em;
  background-color: black;
  margin-bottom: 2rem;
}

.menu a {
  margin-right: 0.5em;
  text-decoration: none;
  padding: 0.5em;
  color: #0075ff;
}

.menu a:hover {
  background-color: white;
  color: black;
}

.selected-menu-item {
  background-color: white;
  color: black !important;
}

.footer {
  text-align: right;
  height: 40px;
  border-top: 1px solid lightgray;
  margin-top: 1rem;
}

.footer .about {
  font-size: small;
  line-height: 40px;
  margin-right: 0.5em;
}

.footer .about a {
  text-decoration: none;
}
