/* TODO: This file supposes to be used as global but that will affect other micro fontends */
.container {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container input[type="text"],
.container select,
.container textarea {
  border: 2px solid darkgray;
  border-radius: 5px;
}

.container input[type="text"],
.container select {
  height: 2rem;
}

.container input[type="text"]:focus,
.container input[type="checkbox"]:focus,
.container select:focus,
.container textarea:focus {
  outline-color: #0075ff;
}

.container label {
  line-height: 1.5rem;
  display: block;
}

.container button {
  height: 1.5rem;
}
