body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"],
select {
  height: 2em;
  border: 2px solid darkgray;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="checkbox"]:focus,
select:focus {
  outline-color: #0075ff;
}

label {
  line-height: 1.5em;
  display: block;
}

button {
  height: 1.5rem;
}
